<div class="container">
    <div class="col-lg-12">
        <div class="pa col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <center><strong>COLLECTION DEFENSE</strong></center>
            <p>
            <p><center><i class="fa fa-credit-card-alt fa-5x"></i></center>
            <p>
            <p>
            <strong>    Have you been sued by a Credit Card Company? Debt collector?  Debt buyer? Or Collection Law Firm?</strong>
            <p>
            <p>We help and defend people who have been sued for debts that they may or may not owe.  Credit card companies, debt collectors, debt buyers, and collection law firms sue many people in an attempt to collect a debt, sometimes even ignoring federal as well as California laws.  We fight credit card companies, debt collectors, debt buyers, and collection law firms who may have abused and violated federal and California laws that protect your rights. 
            <p>
            <p>When a lawsuit is filed, it is important to respond to the lawsuit within the time permitted by law.  A failure to respond to a lawsuit may result in a default judgment.  Default judgments can lead to wage garnishments, bank levies, and liens against properties.  Do not let that happen to you!  
            <p>
            <p>Even if there is a default judgment entered against YOU, we may be able to help YOU.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why we are offering affordable fees so that it makes it economically feasible to hire us to represent YOU.
            <p>
            <p><strong>DO NOT THINK</strong> that there is nothing YOU can do, or that there is no one who can help YOU.

        </div>
        <div class="pa col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <center><strong>CREDIT REPAIR</strong></center>
            <p>
            <p><center><i class="fa fa-credit-card fa-5x"></i></center>
            <p>
            <p><strong>Do You Have Issues With Your Credit Report? Do You Have Inaccurate Credit Information On Your Credit Report?  Is Your Credit Score Unfavorable? Do You Get Declined by Creditors?</strong>
            <p>
            <p>We work to improve YOUR credit score by using items on YOUR credit report which YOU believe to be inaccurate, misleading, or unverifiable.  We work in a serious attempt to resolve all credit disputes.  Correcting questionable items which are lowering YOUR credit score is a critical step toward improving YOUR credit score.  A clean credit report can mean a higher credit score, lower interest rates and a better lifestyle.
            <p>
            <p>The Fair Credit Reporting Act (“FCRA”), which is encoded in 15 U.S.C. § 1681 et seq., is federal legislation enacted to promote the accuracy, fairness, and privacy in consumer credit reports.  The California Consumer Credit Reporting Agencies Act (“CCRAA”) is the California version of the FCRA.  The purpose of the FCRA and the CCRAA is to protect people from the transmission of inaccurate information about them and to establish credit reporting practices that utilize accurate, relevant, and current information in a confidential and responsible manner.  We will use these laws to enforce your rights.
            <p>
            <p>Creditors, debt collectors, and debt buyers must comply with the FCRA and CCRAA.  If they don’t, you may have a claim against them.  You may be entitled to recover money damages, seek injunctive relief, and in certain situations, recover statutory damages.  The FCRA and CCRAA also allows for reasonable attorney’s fees, which means that if YOU prevail, they must pay your reasonable attorney’s fees.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: There Is No Fee In Your Case Unless We Recover.  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p>

        </div>
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>EMPLOYMENT LAW</strong></center>
            <p>
            <p><center><i class="fa fa-building-o fa-5x"></i></center>
            <p>
            <p><strong>Did Your Employer Wrongfully Terminate You? Did Your Employer Fail to Properly Pay You?</strong>
            <p>
            <p>If you believe that you have been wrongfully terminated from your job or that your employer is not properly paying you for the hours you worked, we may be able to help you.  Our firm handles both wrongful terminations as well as wage and hour violations. 
            <p>
            <p><strong><u>Wrongful Termination:</u></strong>
            <p>
            <p>Wrongful termination occurs whenever an employee is fired illegally.  California is an at-will employment state, permitting employers to terminate employees for any reason. This does not mean, however, that employees do not have rights.  An employer may not fire you in violation of California or federal laws.If you were fired or forced to resign from your job, you may be able to take action against your former employer. We can review your claim and determine if your employer violated your rights. If you were wrongfully terminated, we can hold your employer accountable.Wrongful termination and retaliatory discharge cases can be challenging. Your attorney must have experience investigating and pursuing these claims. We can help you if you were fired on the basis of:
            <p>
            <p>
                    <li>Age
                    <li>Disability
                    <li>Filing for workers’ compensation
                    <li>Race, color or national origin
                    <li> Refusing to participate in illegal activity
                    <li>Religion
                    <li>Retaliation
                    <li>Sex, pregnancy or sexual orientation
                    <li>Taking Family and Medical Leave Act (FMLA) time
                    <li>Whistle blowing
                    </li>
            <p>
            <p> There are several ways we can hold an employer liable, such as for:
            <p>
            <p>
                    <li>Violation of California Labor Codes
                    <li>Violation of CA Fair Housing and Employment Act (FEHA)
                    <li>Violation of Federal Laws
                    <li>Torts
                    <li>Breach of Contract
                    <p>
                    </li>   
            <p>
             <p><strong><u>Employer Wage and Hour Violation:</u></strong>
            <p>
            <p>There are several ways we can hold an employer liable for wage and hour violations, such as for:
            <p>
            <p>
                    <li>Failing to pay overtime
                    <li>Miscalculating overtime
                    <li>Misclassification to avoid paying overtime
                    <li>Not allowing required meal and rest breaks
                    <li>Withholding pay for breaks not taken
                    <li>Requiring "off the clock" work
                    <li>Deducting wages for cash shortages or broken equipment
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: <strong>There Is No Fee In Your Case Unless We Recover.</strong>  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>PERSONAL INJURY</strong></center>
            <p>
            <p><center><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></center>
            <p>
            <p><strong>Have you been injured in a car accident, had a slip or trip and fall, or been attacked by a dog?</strong>
            <p>
            <p>We handle numerous types of injuries, including injuries arising out of Motor Vehicle Accidents, Slip or Trip & Falls, and Dog Bites. Whether YOUR injury is large or small, YOU should contact us immediately to learn about your legal rights. What may seem like a small injury today, can become much more serious months or years from now.
            <p>
            <p>We represent injured victims throughout California for physical injuries, emotional pain and financial damages, including but not limited to:
            <p>
            <p>
                <li>Medical Bills
                <li>Pain and Suffering
                <li>Physical Disability
                <li>Disfigurement
                <li>Permanent Scars
                <li>Emotional Trauma
                <li>Mental Anguish
                <li>Property Damage
                <li>Loss Consortium
                <li>Lost Wages
            <p>
            <p><strong><u>Motor Vehicle Accidents:</u></strong>
            <p>
            <p>If you have been injured in a <strong>motor vehicle accident,</strong> you may be able to file an accident claim in order to recover necessary compensation. We represent individuals in a wide variety of motor vehicle cases, including:
            <p>
            <p>
                <li>Car accidents
                <li>Truck accidents
                <li>Motorcycle accidents
                <li>Bicycle accidents
                <li>Bus accidents
                <li>Other motor vehicle accidents
            <p>
            <p><strong><u>Slip or Trip and Fall:</u></strong>
            <p>
            <p>If you slip, fall, trip or are otherwise injured in a store, you may have a valid legal claim against that business and may be entitled to recover necessary compensation. We represent individuals in a wide variety of premises liability cases, including:
            <p>
            <p>
                <li>Slip and Fall
                <li>Trip and Fall
                <li>Falling Objects
                <li>Accidents at private residences
                <li>Bar fights
                <li>Assault injuries
                <li>Insufficient security
            <p>
            <p><strong><u>Dog Bite:</u></strong>
            <p>
            <p>If you have been attacked and bitten by a dog, you may be entitled to recover necessary compensation.  Although dogs are called a “man’s best friend”, some dogs are vicious, dangerous, and bite, causing physical injuries.  According to Centers for Disease Control and Prevention, there are more than 4.7 million people who suffer from <strong><u>dog bite</u></strong> injuries.  If you have been the victim of a dog bite injury, contact us for the help you deserve.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only.  That means: <strong>There Is No Fee In Your Case</strong> Unless We Recover.  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p>
        </div>
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>UNFAIR DEBT COLLECTION</strong></center>
            <P>
            <p><center><i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i></center>
            <p>
            <p><strong>Are You Being Contacted, Harassed or Abused By Debt Collectors?</strong>
            <p>
            <p>Millions of Americans are suffering from overwhelming debts caused by a loss of a job, divorce, illness or unexpected medical bills.  Falling behind on your debts is stressful enough without the harassing debt collectors.  As pointed out below, there are powerful federal and state laws which protect you from harassing collection practices and which allows us to help stop the harassing telephone calls, letters, emails, and in some cases legal action filed against you to collect a debt.
            <p>
            <p>Both, the Federal Debt Collection Practices Act (“FDCPA”) and the California Rosenthal Fair Debt Collection Practices Act (“Rosenthal FDCPA”) are designed to protect people from unfair and unlawful debt collection.  Debt collectors, including debt buyers and collection law firms, must follow both federal and California laws when collecting or attempting to collect a debt.  They must be truthful and treat YOU with fairness, dignity, and respect. 
            <p>
            <p>For example, debt collectors cannot:
            <p>
            <p>
                <li>use threats of violence or harm;
                <li>use obscene or profane language; 
                <li>threaten that you will be arrested if you don’t pay your debt;
                <li>falsely claim that you have committed a crime;
                <li>repeatedly use the phone to annoy someone;
                <li>misrepresent the amount you owe;
                <li>attempt to collect a debt you do not owe;
                <li>give false credit information about you to anyone, including a credit reporting company;
                <li>try to collect any interest, fee, or other charge on top of the amount you owe unless it is permitted by the contract that created your debt or by California law;
                <li>Sent collection notices that are false or misleading.
            <p>
            <p>The FDCPA and Rosenthal FDCPA are laws designed to prevent debt collectors from engaging in unfair or unlawful conduct.  Any debt collector, debt buyer, or collection law firm, who uses deceptive and abusive practices to collect, or attempt to collect a debt, may be liable for monetary damages, including actual and statutory damages under both the FDCPA and Rosenthal FDCPA.  You may even be entitled to recover substantial money damages from the debt collector which has contacted you or sought to recover the debt from you.  The FDCPA and Rosenthal FDCPA also allows for reasonable attorney’s fees, which means that if YOU prevail, the debt collector is liable to pay YOUR attorney’s fees.  In some cases we can lower or even eliminate the debt entirely.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: <strong>There Is No Fee In Your Case Unless We Recover.</strong>  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p>
            <p>You can <strong>STOP DEBT COLLECTORS FROM THIS ABUSE NOW!</strong>  You don’t have to be a victim any longer! 
            <p>
        </div>
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>UNWANTED TELEPHONE CALLS</strong></center>
            <p>
            <p><center><i class="fa fa-phone-square fa-5x" aria-hidden="true"></i></center>
            <p>
            <p><strong>Are You Getting Unwanted Telephone Calls, Collection Calls, Telemarketing Calls, or Text Messages On Your Cellular Telephone? Are You Getting Telemarking Calls On Your Home Phone?</strong>
            <p>
            <p>If you have received unwanted calls or text messages from creditors, debt collectors, telemarketers, or advertisers, you may have a claim for money damages under the Telephone Consumer Protection Act (TCPA). 
            <p>
            <p>The TCPA, which is encoded in 47 U.S.C. § 227 et seq., is a federal legislation dealing with restrictions on use of telephone equipment, such as an automatic telephone dialing system (“ATDS”).  The purpose of the TCPA is to prohibit the use of ATDS to communicate with others by telephone in a manner that would be an invasion of privacy.  It is unlawful for any person to make any calls to a cellular telephone (other than a call made for emergency purposes or made with the prior express consent of the called party) using any ATDS or an artificial or prerecorded voice.  The TCPA also restricts telemarketers to call a person’s home phone, via an ATDS or an artificial or prerecorded voice, without prior express consent. Creditors, debt collectors, telemarketers, and advertisers often violate the TCPA. 
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: <strong>There Is No Fee In Your Case Unless We Recover. </strong> We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p>
        </div>
    </div>
</div>
