<div class="container">
    <div class="col-lg-12">
        <div class="pa col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <center><strong>COLLECTION DEFENSE</strong></center>
            <p>
            <p><center><i class="fa fa-credit-card-alt fa-5x"></i></center>
            <p>
            <p>
            <strong>    Have you been sued by a Credit Card Company? Debt collector?  Debt buyer? Or Collection Law Firm?</strong>
            <p>
            <p>We help and defend people who have been sued for debts that they may or may not owe.  Credit card companies, debt collectors, debt buyers, and collection law firms sue many people in an attempt to collect a debt, sometimes even ignoring federal as well as California laws.  We fight credit card companies, debt collectors, debt buyers, and collection law firms who may have abused and violated federal and California laws that protect your rights. 
            <p>
            <p>When a lawsuit is filed, it is important to respond to the lawsuit within the time permitted by law.  A failure to respond to a lawsuit may result in a default judgment.  Default judgments can lead to wage garnishments, bank levies, and liens against properties.  Do not let that happen to you!  
            <p>
            <p>Even if there is a default judgment entered against YOU, we may be able to help YOU.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why we are offering affordable fees so that it makes it economically feasible to hire us to represent YOU.
            <p>
            <p><strong>DO NOT THINK</strong> that there is nothing YOU can do, or that there is no one who can help YOU.
            <p><center>
            <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
            <p>
        </div>

    </div>
</div>        