<div class="container">
    <div class="col-lg-12">
      <div class="pa col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <center><strong>CREDIT REPAIR</strong></center>
            <p>
            <p><center><i class="fa fa-credit-card fa-5x"></i></center>
            <p>
            <p><strong>Do You Have Issues With Your Credit Report? Do You Have Inaccurate Credit Information On Your Credit Report?  Is Your Credit Score Unfavorable? Do You Get Declined by Creditors?</strong>
            <p>
            <p>We work to improve YOUR credit score by using items on YOUR credit report which YOU believe to be inaccurate, misleading, or unverifiable.  We work in a serious attempt to resolve all credit disputes.  Correcting questionable items which are lowering YOUR credit score is a critical step toward improving YOUR credit score.  A clean credit report can mean a higher credit score, lower interest rates and a better lifestyle.
            <p>
            <p>The Fair Credit Reporting Act (“FCRA”), which is encoded in 15 U.S.C. § 1681 et seq., is federal legislation enacted to promote the accuracy, fairness, and privacy in consumer credit reports.  The California Consumer Credit Reporting Agencies Act (“CCRAA”) is the California version of the FCRA.  The purpose of the FCRA and the CCRAA is to protect people from the transmission of inaccurate information about them and to establish credit reporting practices that utilize accurate, relevant, and current information in a confidential and responsible manner.  We will use these laws to enforce your rights.
            <p>
            <p>Creditors, debt collectors, and debt buyers must comply with the FCRA and CCRAA.  If they don’t, you may have a claim against them.  You may be entitled to recover money damages, seek injunctive relief, and in certain situations, recover statutory damages.  The FCRA and CCRAA also allows for reasonable attorney’s fees, which means that if YOU prevail, they must pay your reasonable attorney’s fees.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: There Is No Fee In Your Case Unless We Recover.  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p><center>
            <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
            <p>
        </div>

    </div>
</div>        