<div class="container">
    <div class="col-lg-12">
		<div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>EMPLOYMENT LAW</strong></center>
            <p>
            <p><center><i class="fa fa-building-o fa-5x"></i></center>
            <p>
            <p><strong>Did Your Employer Wrongfully Terminate You? Did Your Employer Fail to Properly Pay You?</strong>
            <p>
            <p>If you believe that you have been wrongfully terminated from your job or that your employer is not properly paying you for the hours you worked, we may be able to help you.  Our firm handles both wrongful terminations as well as wage and hour violations. 
            <p>
            <p><strong><u>Wrongful Termination:</u></strong>
            <p>
            <p>Wrongful termination occurs whenever an employee is fired illegally.  California is an at-will employment state, permitting employers to terminate employees for any reason. This does not mean, however, that employees do not have rights.  An employer may not fire you in violation of California or federal laws.If you were fired or forced to resign from your job, you may be able to take action against your former employer. We can review your claim and determine if your employer violated your rights. If you were wrongfully terminated, we can hold your employer accountable.Wrongful termination and retaliatory discharge cases can be challenging. Your attorney must have experience investigating and pursuing these claims. We can help you if you were fired on the basis of:
            <p>
            <p>
                    <li>Age
                    <li>Disability
                    <li>Filing for workers’ compensation
                    <li>Race, color or national origin
                    <li> Refusing to participate in illegal activity
                    <li>Religion
                    <li>Retaliation
                    <li>Sex, pregnancy or sexual orientation
                    <li>Taking Family and Medical Leave Act (FMLA) time
                    <li>Whistle blowing
                    </li>
            <p>
            <p> There are several ways we can hold an employer liable, such as for:
            <p>
            <p>
                    <li>Violation of California Labor Codes
                    <li>Violation of CA Fair Housing and Employment Act (FEHA)
                    <li>Violation of Federal Laws
                    <li>Torts
                    <li>Breach of Contract
                    <p>
                    </li>   
            <p>
             <p><strong><u>Employer Wage and Hour Violation:</u></strong>
            <p>
            <p>There are several ways we can hold an employer liable for wage and hour violations, such as for:
            <p>
            <p>
                    <li>Failing to pay overtime
                    <li>Miscalculating overtime
                    <li>Misclassification to avoid paying overtime
                    <li>Not allowing required meal and rest breaks
                    <li>Withholding pay for breaks not taken
                    <li>Requiring "off the clock" work
                    <li>Deducting wages for cash shortages or broken equipment
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: <strong>There Is No Fee In Your Case Unless We Recover.</strong>  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
           <p><center>
            <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
            <p>
        </div>

    </div>
</div>        