<div class="container">
    <div class="col-lg-12">
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>IDENTITY THEFT</strong></center>
            <p>
            <p><center><i class="fa fa-id-card fa-5x" aria-hidden="true"></i></center>
            <p>
            <p><strong>Are you a victim of Identity Theft?</strong>
            <p>
            <p>With today’s easy accessibility through the use of the computer and cell phones, identity theft has become a major problem for consumers. Identity theft is a recognized crime and a widespread problem.  It is crucial to act immediately to stop any further acts of fraudulent activity on your behalf.  We want to help relieve you from Creditors, debt collectors, or debt buyers who continue to attempt to collect debts from you which have been incurred by the identity thief.
            <p>
            <p>California has strong identity theft laws which protect victims of identity theft. Creditors, debt collectors, and debt buyers must follow these laws.  If they don’t, you may have a claim against them.  You may be entitled to recover money damages, seek injunctive relief, and in certain situations, recover statutory damages.  The California identity theft laws also allows for reasonable attorney’s fees, which means that if YOU prevail, they must pay your reasonable attorney’s fees.

            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only.  That means: <strong>There Is No Fee In Your Case Unless We Recover.</strong>  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises
            
            <p><center>
            <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
            <p>
        </div>

    </div>
</div>        