<div class="container">
    <div class="col-lg-12">
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>PERSONAL INJURY</strong></center>
            <p>
            <p><center><i class="fa fa-ambulance fa-5x" aria-hidden="true"></i></center>
            <p>
            <p><strong>Have you been injured in a car accident, had a slip or trip and fall, or been attacked by a dog?</strong>
            <p>
            <p>We handle numerous types of injuries, including injuries arising out of Motor Vehicle Accidents, Slip or Trip & Falls, and Dog Bites. Whether YOUR injury is large or small, YOU should contact us immediately to learn about your legal rights. What may seem like a small injury today, can become much more serious months or years from now.
            <p>
            <p>We represent injured victims throughout California for physical injuries, emotional pain and financial damages, including but not limited to:
            <p>
            <p>
                <li>Medical Bills
                <li>Pain and Suffering
                <li>Physical Disability
                <li>Disfigurement
                <li>Permanent Scars
                <li>Emotional Trauma
                <li>Mental Anguish
                <li>Property Damage
                <li>Loss Consortium
                <li>Lost Wages
            <p>
            <p><strong><u>Motor Vehicle Accidents:</u></strong>
            <p>
            <p>If you have been injured in a <strong>motor vehicle accident,</strong> you may be able to file an accident claim in order to recover necessary compensation. We represent individuals in a wide variety of motor vehicle cases, including:
            <p>
            <p>
                <li>Car accidents
                <li>Truck accidents
                <li>Motorcycle accidents
                <li>Bicycle accidents
                <li>Bus accidents
                <li>Other motor vehicle accidents
            <p>
            <p><strong><u>Slip or Trip and Fall:</u></strong>
            <p>
            <p>If you slip, fall, trip or are otherwise injured in a store, you may have a valid legal claim against that business and may be entitled to recover necessary compensation. We represent individuals in a wide variety of premises liability cases, including:
            <p>
            <p>
                <li>Slip and Fall
                <li>Trip and Fall
                <li>Falling Objects
                <li>Accidents at private residences
                <li>Bar fights
                <li>Assault injuries
                <li>Insufficient security
            <p>
            <p><strong><u>Dog Bite:</u></strong>
            <p>
            <p>If you have been attacked and bitten by a dog, you may be entitled to recover necessary compensation.  Although dogs are called a “man’s best friend”, some dogs are vicious, dangerous, and bite, causing physical injuries.  According to Centers for Disease Control and Prevention, there are more than 4.7 million people who suffer from <strong><u>dog bite</u></strong> injuries.  If you have been the victim of a dog bite injury, contact us for the help you deserve.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only.  That means: <strong>There Is No Fee In Your Case</strong> Unless We Recover.  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p><center>
            <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
            <p>
        </div>

    </div>
</div>        