<div class="container">

    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>COLLECTION DEFENSE</h5>
        <img class="papics" src="app/images/collectiondefense.gif">
        <p><strong>Have you been sued by a credit card company? Debt collector?  Debt buyer or Collection Law Firm?</strong>
        <p>
        <p>We help and defend people who have been sued for debts that they may or may not owe. Credit card companies, debt collectors, debt buyers, and collection law firms sue many people in an attempt to collect a debt, sometimes even ignoring federal as well as California laws. We fight credit card companies, debt collectors, debt buyers, and collection law firms who may have abused and violated federal and California laws that protect your rights.
        <P>
        <a ui-sref="collectiondefense" style="color: brown">Learn More</a>
    </div>

    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>CREDIT REPAIR</h5>
        <img class="papics" src="app/images/creditrepair.gif">
        <p><strong>Do you have problems/concerns with your credit report? Do you have inaccurate credit information on your creditreport? Is your credit score unfavorable?</strong>
        <p>
        <p>We work to improve YOUR credit score by using items on YOUR credit report which YOU believe to be inaccurate, misleading, or unverifiable. We work in a serious attempt to resolve all credit disputes. Correcting questionable items which are lowering YOUR credit score is a critical step toward improving YOUR credit score. A clean credit report can mean a higher credit score, lower interest rates and a better lifestyle.
        <p>
        <a ui-sref="creditrepair" style="color: brown">Learn More</a>

    </div>
    
    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>EMPLOYMENT LAW</h5>
        <img class="papics" src="app/images/employmentlaw.gif">
        <p><strong>Did your employer wrongfully terminateyou? Did your employer fail to properly pay you?</strong>
        <p>
        <p>If you believe that you have been wrongfully terminated from your job or that your employer is not properly paying you for the hours you worked, we may be able to help you. Our firm handles both wrongful terminations as well as wage and hour violations.
        <p>
        <a ui-sref="employmentlaw" style="color: brown">Learn More</a>

    </div>
    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>IDENTITY THEFT</h5>
        <img class="papics" src="app/images/identitytheft.gif">
        <p><strong>Are you a victim of identity theft? Has your identity been stolen?</strong>
        <p>
        <p>With today’s easy accessibility through the use of the computer and cell phones, identity theft has become a major problem for consumers. Identity theft is a recognized crime and a widespread problem.  It is crucial to act immediately to stop any further acts of fraudulent activity on your behalf.  We want to help relieve you from Creditors, debt collectors, or debt buyers who continue to attempt to collect debts from you which have been incurred by the identity thief. 
        <p>
        <a ui-sref="identitytheft" style="color: brown">Learn More</a>

    </div>

    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>PERSONAL INJURY</h5>
        <img class="papics" src="app/images/personalinjury.gif">
        <p><strong>Have you been injured in a car accident, had a slip or trip and fall, or been attacked by a dog?</strong>
        <p>
        <p>We handle numerous types of injuries, including injuries arising out of Motor Vehicle Accidents, Slip or Trip & Falls, and Dog Bites. Whether YOUR injury is large or small, YOU should contact us immediately to learn about your legal rights. What may seem like a small injury today, can become much more serious months or years from now.
        <p>
        <a ui-sref="personalinjury" style="color: brown">Learn More</a>
        <p>
    </div>
    
    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>UNFAIR DEBT COLLECTION</h5>
        <img class="papics" src="app/images/unfairdebt.gif">
        <p><strong>Are you being contacted, harassed or abused by Debt Collectors?</strong>
        <p>
        <p>Millions of Americans are suffering from overwhelming debts caused by a loss of a job, divorce, illness or unexpected medical bills. Falling behind on your debts is stressful enough without the harassing debt collectors. As pointed out below, there are powerful federal and state laws which protect you from harassing collection practices and which allows us to help stop the harassing telephone calls, letters, emails, and in some cases legal action filed against you to collect a debt.
        <p>
        <a ui-sref="unfairdebt" style="color: brown">Learn More</a>
        <p>
    </div>

    <div class="column col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5>UNWANTED TELEPHONE CALLS</h5>
        <img class="papics" src="app/images/unwantedtel.gif">
        <p><strong>Are you getting unwanted telephonecalls, telemarketing calls, or text messages on your cellular phone or home phone? </strong>
        <p>
        <p>If you have received unwanted calls or text messages from creditors, debt collectors, telemarketers, or advertisers, you may have a claim for money damages under the Telephone Consumer Protection Act (TCPA).
        <p>
        <a ui-sref="unwantedtel" style="color: brown">Learn More</a>
        <p>
    </div>
</div>