<div class="container">
    <div class="col-lg-12">    
        <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <center><strong>UNFAIR DEBT COLLECTION</strong></center>
            <P>
            <p><center><i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i></center>
            <p>
            <p><strong>Are You Being Contacted, Harassed or Abused By Debt Collectors?</strong>
            <p>
            <p>Millions of Americans are suffering from overwhelming debts caused by a loss of a job, divorce, illness or unexpected medical bills.  Falling behind on your debts is stressful enough without the harassing debt collectors.  As pointed out below, there are powerful federal and state laws which protect you from harassing collection practices and which allows us to help stop the harassing telephone calls, letters, emails, and in some cases legal action filed against you to collect a debt.
            <p>
            <p>Both, the Federal Debt Collection Practices Act (“FDCPA”) and the California Rosenthal Fair Debt Collection Practices Act (“Rosenthal FDCPA”) are designed to protect people from unfair and unlawful debt collection.  Debt collectors, including debt buyers and collection law firms, must follow both federal and California laws when collecting or attempting to collect a debt.  They must be truthful and treat YOU with fairness, dignity, and respect. 
            <p>
            <p>For example, debt collectors cannot:
            <p>
            <p>
                <li>use threats of violence or harm;
                <li>use obscene or profane language; 
                <li>threaten that you will be arrested if you don’t pay your debt;
                <li>falsely claim that you have committed a crime;
                <li>repeatedly use the phone to annoy someone;
                <li>misrepresent the amount you owe;
                <li>attempt to collect a debt you do not owe;
                <li>give false credit information about you to anyone, including a credit reporting company;
                <li>try to collect any interest, fee, or other charge on top of the amount you owe unless it is permitted by the contract that created your debt or by California law;
                <li>Sent collection notices that are false or misleading.
            <p>
            <p>The FDCPA and Rosenthal FDCPA are laws designed to prevent debt collectors from engaging in unfair or unlawful conduct.  Any debt collector, debt buyer, or collection law firm, who uses deceptive and abusive practices to collect, or attempt to collect a debt, may be liable for monetary damages, including actual and statutory damages under both the FDCPA and Rosenthal FDCPA.  You may even be entitled to recover substantial money damages from the debt collector which has contacted you or sought to recover the debt from you.  The FDCPA and Rosenthal FDCPA also allows for reasonable attorney’s fees, which means that if YOU prevail, the debt collector is liable to pay YOUR attorney’s fees.  In some cases we can lower or even eliminate the debt entirely.
            <p>
            <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: <strong>There Is No Fee In Your Case Unless We Recover.</strong>  We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
            <p>
            <p>You can <strong>STOP DEBT COLLECTORS FROM THIS ABUSE NOW!</strong>  You don’t have to be a victim any longer! 
            <p><center>
            <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
            <p>
        </div>

    </div>
</div>        