<div class="container">
    <div class="col-lg-12">
      <div class="pa col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <center><strong>UNWANTED TELEPHONE CALLS</strong></center>
                  <p>
                  <p><center><i class="fa fa-phone-square fa-5x" aria-hidden="true"></i></center>
                  <p>
                  <p><strong>Are You Getting Unwanted Telephone Calls, Collection Calls, Telemarketing Calls, or Text Messages On Your Cellular Telephone? Are You Getting Telemarking Calls On Your Home Phone?</strong>
                  <p>
                  <p>If you have received unwanted calls or text messages from creditors, debt collectors, telemarketers, or advertisers, you may have a claim for money damages under the Telephone Consumer Protection Act (TCPA). 
                  <p>
                  <p>The TCPA, which is encoded in 47 U.S.C. § 227 et seq., is a federal legislation dealing with restrictions on use of telephone equipment, such as an automatic telephone dialing system (“ATDS”).  The purpose of the TCPA is to prohibit the use of ATDS to communicate with others by telephone in a manner that would be an invasion of privacy.  It is unlawful for any person to make any calls to a cellular telephone (other than a call made for emergency purposes or made with the prior express consent of the called party) using any ATDS or an artificial or prerecorded voice.  The TCPA also restricts telemarketers to call a person’s home phone, via an ATDS or an artificial or prerecorded voice, without prior express consent. Creditors, debt collectors, telemarketers, and advertisers often violate the TCPA. 
                  <p>
                  <p>Very few people can afford to pay an attorney by the hour. That is why our fees are contingent only. That means: <strong>There Is No Fee In Your Case Unless We Recover. </strong> We charge a typical percentage of the settlement, and put it all in writing so that there are no surprises.
                  <p><center>
                  <a ui-sref="practiceareas" style="color: brown">BACK TO PRACTICE AREAS</a></center>
                  <p>
              </div>
      </div>
</div>